html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 85%;
  background: transparent;
}

.heading {
  font-size: 17rem;
  margin-left: 5rem;
  color: #e9ecef;
}

/* .heading-container {
  position: absolute;
  top: 1; 
  left: 50%;
  transform: translateX(-40%);
  z-index: 2; 
  background: transparent;
  padding: 1rem;
} */

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* reusable */
.container {
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.section-1 {
  margin-top: 8rem;
}

.button-link {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: #1864ab;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
}

.button-link:hover {
  background-color: #228be6;
}

/* non-reusable */
.contact {
  margin-top: 0;
  border-radius: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.logo {
  font-size: 3.5rem;
  font-weight: 600;
}

.my-image {
  height: 60rem;
  width: 45rem;
  border-radius: 200px 200px 200px 200px;
}

.welcome-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 5rem;
  position: relative;
  z-index: 1;
}

.intro-block {
  line-height: 4.9rem;
}

.welcome-intro,
.welcome-name {
  font-size: 4rem;
}

.welcome-name {
  font-weight: bold;
}

.available {
  font-size: 1.7rem;
  font-weight: 500;
}

.profile-summary {
  width: 30rem;
  line-height: 1.5;
}

.profile-summary-container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  /* justify-content: space-around; */
}

.welcome-intro-container {
  display: flex;
  flex-direction: column;
  gap: 25rem;
}

.profile-summary-para {
  font-size: 1.7rem;
  color: #555;
}

.in-touch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1864ab;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}

.in-touch-para {
  color: white;
  font-weight: 500;
}

/* projects */
.projects-heading-container {
  margin-bottom: 3rem;
}

.projects-heading {
  font-size: 6rem;
}

.project-screenshot {
  height: 35rem;
  width: 60rem;
}

.section-2,
.section-3, .section-4 {
  margin-top: 18rem;
}

.projects-screenshots-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.projects-screenshots-figcaption {
  margin-top: 3rem;
}

.project-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.project-description {
  line-height: 1.4;
  font-size: 1.8rem;
  color: #555;
}

.arrow {
  padding-left: 1rem;
}

/* about me */
.about-me-container {
  height: 50rem;
  background-color: #1864ab;
  border-radius: 1.5rem;
}

.about-me-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  transform: translateY(30%);
  margin-right: 18rem;
}

.me-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 50rem;
}

.about-me-para,
.about-me-heading {
  color: white;
}

.about-me-para {
  font-size: 1.7rem;
  line-height: 1.4;
}

.about-me-heading-block {
  width: 10rem;
}

.about-me-heading {
  font-size: 10rem;
}

.just-A,
.just-B {
  color: #212529;
}

/* why work with me */
.work-with-me-main-heading {
text-align: center;
font-size: 5rem;
margin-bottom: 5rem;
}

.work-with-me-img {
  width: 70rem;
  height: 45rem;
}

.why-me-content-container {
  width: 50rem;
}

.work-with-me-main-block {
  display: flex;
  justify-content: space-between;
}

.why-me-content-block {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.why-me-content-heading {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.why-me-content-para {
  font-size: 1.7rem;
  line-height: 1.4;
}
