html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  height: 8rem;

}

footer {
  background-color: #f1f3f5;
  margin-top: 12rem;
  height: 55rem;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}


/* .menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
} */

.sidebar li {
  width: 100%;
}

.menu-button {
  display: none;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  transform: translateY(-50%);
  background: transparent;
}

.heading {
  font-size: 17rem;
  margin-left: 5rem;
  color: #e9ecef;
}

.nav-list, .nav-list-big {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.nav-list-big {
  gap: 1rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.081);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.sidebar li {
  width: 100%;
}

.menu-button {
  display: none;
}

/* reusable */
.container {
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.section-1 {
  margin-top: 8rem;
}

.section {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-out;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.button-link {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: #1864ab;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
}

.button-link:hover {
  background-color: #228be6;
}

/* non-reusable */
.contact {
  margin-top: 0;
  border-radius: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.logo {
  font-size: 3.5rem;
  font-weight: 600;
}

.my-image {
  height: 60rem;
  width: 45rem;
  border-radius: 200px 200px 200px 200px;
}

.welcome-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 5rem;
  position: relative;
  z-index: 1;
}

.intro-block {
  line-height: 4.9rem;
}

.welcome-intro,
.welcome-name {
  font-size: 4rem;
}

.welcome-name {
  font-weight: bold;
}

.available {
  font-size: 1.7rem;
  font-weight: 500;
}

.profile-summary {
  width: 30rem;
  line-height: 1.5;
}

.profile-summary-container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  /* justify-content: space-around; */
}

.welcome-intro-container {
  display: flex;
  flex-direction: column;
  gap: 25rem;
}

.profile-summary-para {
  font-size: 1.7rem;
  color: #555;
}

.in-touch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1864ab;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}

.in-touch-para {
  color: white;
  font-weight: 500;
}

/* projects */
.projects-heading-container {
  margin-bottom: 3rem;
}

.projects-heading {
  font-size: 6rem;
}

.project-screenshot {
  height: 35rem;
  width: 60rem;
}

.section-2,
.section-3,
.section-4 {
  margin-top: 18rem;
}

.projects-screenshots-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.projects-screenshots-figcaption {
  margin-top: 3rem;
}

.project-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.project-description {
  line-height: 1.4;
  font-size: 1.8rem;
  color: #555;
}

.arrow {
  padding-left: 1rem;
}

/* about me */
.about-me-container {
  height: 50rem;
  background-color: #1864ab;
  border-radius: 1.5rem;
}

.about-me-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  transform: translateY(30%);
  margin-right: 18rem;
}

.me-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 50rem;
}

.about-me-para,
.about-me-heading {
  color: white;
}

.about-me-para {
  font-size: 1.7rem;
  line-height: 1.4;
}

.about-me-heading-block {
  width: 10rem;
}

.about-me-heading {
  font-size: 10rem;
}

.just-A,
.just-B {
  color: #212529;
}

/* why work with me */
.work-with-me-main-heading {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 5rem;
}

.work-with-me-img {
  width: 70rem;
  height: 45rem;
}

.why-me-content-container {
  width: 50rem;
}

.work-with-me-main-block {
  display: flex;
  justify-content: space-between;
}

.why-me-content-block {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.why-me-content-heading {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.why-me-content-para {
  font-size: 1.7rem;
  line-height: 1.4;
}

/* footer */
.footer-main-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
}

.footer-links {
  display: flex;
  gap: 5rem;
}

.links-list {
  margin-top: 2rem;
  line-height: 1.8;
}

.nav-page {
  color: #343a40;
  font-size: 1.7rem;
}

.footer-links-header {
  font-size: 2rem;
}

.logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1864ab;
  width: 40rem;
  height: 40rem;
}

.footer-logo {
  font-size: 12rem;
  color: white;
}

.nav-page {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* MEDIA QUERY */

/* Below 1344px (Smaller desktops) */
@media (max-width: 84em) {
  .heading {
    font-size: 16rem;
    margin-left: 3rem;
  }

  .why-me-content-heading {
    font-size: 2rem;
  }

  .why-me-content-para,
  .profile-summary-para {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

/* Below 1200px (landscape tablets) */

@media (max-width: 75em) {
  .heading {
    font-size: 14rem;
    margin-left: 3rem;
  }

  /* .heading-container {
    transform: translateY(-50%);

  } */

  .profile-summary-container {
    gap: 14rem;
  }

  .why-me-content-para,
  .profile-summary-para {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .project-description {
    line-height: 1.5;
    font-size: 1.4rem;
  }

  .project-screenshot {
    height: 30rem;
    width: 55rem;
  }

  .work-with-me-img {
    width: 60rem;
    height: 45rem;
  }

  .about-me-para {
    line-height: 1.5;
  }

  .about-me-content-container {
    gap: 10rem;
    transform: translateY(20%);
  }

  .logo-block {
    width: 35rem;
    height: 35rem;
  }

  .why-me-content-heading {
    margin-bottom: 1.1rem;
  }

  .welcome-intro,
  .welcome-name {
    font-size: 3rem;
  }

  .available-for {
    font-size: 1.4rem;
  }

  .footer-logo {
    font-size: 10rem;
  }
}

/* Below 944px (tablets(Portrait)) */

@media (max-width: 59em) {
  .heading {
    font-size: 11rem;
    margin-left: 0;
  }

  .welcome-container {
    gap: 1.8rem;
  }

  .in-touch {
    height: 12rem;
    width: 12rem;
  }

  .in-touch-para {
    font-size: 1.2rem;
  }

  .my-image {
    height: 40rem;
    width: 30rem;
    border-radius: 200px 200px 200px 200px;
  }

  .profile-summary-container {
    gap: 6rem;
  }

  .profile-summary-para {
    display: block;
    width: 25rem;
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .project-description {
    line-height: 1.3;
  }

  .project-name {
    font-size: 2rem;
  }

  .welcome-intro-container {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }

  .available-for {
    font-size: 1.3rem;
  }

  .welcome-intro,
  .welcome-name {
    font-size: 2rem;
  }

  .welcome-intro {
    margin-bottom: 0rem;
  }

  /* .heading-container {
    top: 37%;
  } */

  .project-screenshot {
    height: 20rem;
    width: 40rem;
  }

  .work-with-me-img {
    width: 38rem;
    height: 33rem;
  }

  .why-me-content-para {
    display: block;
    width: 45rem;
  }

  .work-with-me-main-block {
    justify-content: space-between;
    gap: 2rem;
  }

  .why-me-content-block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .about-me-container {
    height: 50rem;
    width: 86rem;
  }

  .about-me-content-container {
    gap: 3rem;
    transform: translateY(15%);
  }

  .about-me-para {
    display: block;
    width: 48rem;
    line-height: 1.5;
  }

  .about-me-heading {
    font-size: 8rem;
  }

  footer {
    height: 50rem;
  }
}

/* Below 704px (Smaller tablets)  */

@media (max-width: 44em) {

  .my-image {
    height: 28rem;
    width: 23rem;
  }

  .profile-summary-para {
    font-size: 1rem;
    line-height: 1.6;
  }

  .welcome-intro-container {
    width: 100rem;
    gap: 6rem;
  }

  .profile-summary-container {
    width: 23rem;
  }

  .profile-summary-para {
    display: block;
    width: 18rem;
  }

  .profile-summary-para {
    font-size: 1rem;
    /* line-height: 1.6; */
  }

  .profile-summary {
    width: 18rem;
    line-height: 1.5;
  }

  .heading {
    font-size: 8rem;
    /* margin-left: 0; */
  }

  /* .heading-container {
    top: 38%;
  } */

  .in-touch {
    display: none;
  }

  .in-touch-para,
  .available-for {
    font-size: 1rem;
  }

  .welcome-name {
    display: block;
    width: 20rem;
  }

  .welcome-intro,
  .welcome-name {
    font-size: 1.8rem;
  }

  .projects-heading {
    font-size: 5.5rem;
  }

  .project-screenshot {
    height: 18rem;
    width: 30rem;
  }

  .project-name {
    font-size: 1.8rem;
  }

  .project-description {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  .button-link {
    padding: 1.5rem 2.5rem;
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .about-me-para {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .about-me-content-container {
    display: flex;
    flex-direction: column;
    transform: translateY(20%);
    gap: 1.5rem;
    /* margin-left: 10rem; */
  }

  .about-me-container {
    height: 45rem;
    width: 67rem;
    margin-left: -1.8rem;
  }

  .about-me-heading {
    font-size: 5rem;
  }

  .me-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 50rem;
    padding-left: 15rem;
  }

  .work-with-me-main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  .work-with-me-img {
    width: 50rem;
    height: 33rem;
  }

  .logo-block {
    width: 25rem;
    height: 25rem;
  }

  .footer-links-header {
    font-size: 1.8rem;
  }

  .footer-logo {
    font-size: 8rem;
  }

  .nav-page {
    color: #343a40;
    font-size: 1.5rem;
  }

  footer {
    height: 48rem;
  }
}

/* Below 544px (Phones)  */
@media (max-width: 34em) {
  /* .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .nav-list.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  } */

  .hideOnMobile {
    display: none;
  }

    .menu-button {
    display: block;
  }

  .sidebar {
    width: 100%;
  }

  .section-2 {
    margin-top: 10rem;
  }

.section-3, .section-4 {
    margin-top: 13rem;
}


  .welcome-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: relative;
    z-index: 1;
    width: 46rem;
  }

  .welcome-intro-container {
    width: 46rem;
    gap: 3rem;
  }

  .intro-block {
    width: 40rem;
  }

  .heading {
   display: none;
  }

  .heading-container {
    display: none;
  }

  .intro-block {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* justify-content: center; */
  }

  .welcome-name,
  .welcome-intro {
    font-size: 2rem;
  }

  .profile-summary-container,
  .profile-summary-para {
    width: 46rem;
  }

  .my-image {
    height: 65rem;
    width: 46rem;
    border-radius: 0;
  }

  .projects-heading, .about-me-heading {
    font-size: 4rem;
}

.projects-screenshots-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
}

.project-name, .why-me-content-heading {
    font-size: 1.6rem;
}

.project-description, .why-me-content-para {
    font-size: 1rem;
    line-height: 1.5;
}

.button-link {
    padding: 1.5rem 2rem;
    font-size: 0.9rem;
}

.about-me-para {
    font-size: 1rem;
    display: block;
    width: 35rem;
}

.about-me-container {
    height: 40rem;
    width: 50rem;
    margin-left: -1.8rem;
}

.work-with-me-main-heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;
}

.logo-block {
    width: 14rem;
    height: 14rem;
}

.footer-logo {
    font-size: 4rem;
}


.footer-links-header {
    font-size: 1.2rem;
}

.nav-page {
    font-size: 1rem;
}

footer {
    height: 35rem;
}
}

/* iphone 16 pro max or less */
@media (max-width: 27.5em) {

  .section-2, .section-3, .section-4 {
    margin-top: 10rem;
}

  .welcome-intro-container, .why-me-content-heading, .welcome-container, .why-me-content-container  {
    width: 40rem;
}

/* .heading-container {
    top: 128%;
  } */

/* .heading {
    font-size: 5rem;
} */

.my-image {
    height: 57rem;
    width: 38rem;
    border-radius: 0;
}

.profile-summary-container, .profile-summary-para {
    width: 40rem;
}

.about-me-container {
    height: 35rem;
    width: 40rem;
    /* margin-left: 1rem; */
}

.projects-heading, .about-me-heading, .work-with-me-main-heading {
    font-size: 3rem;
}

.about-me-content-container {
    transform: translateY(12%);
}

.work-with-me-main-heading {
  margin-bottom: 3rem;
}

.work-with-me-img {
    width: 40rem;
    height: 30rem;
}

.why-me-content-block {
  width: 40rem;
}

.why-me-content-para {
  width: 40rem;
}

.logo-block {
    width: 10rem;
    height: 10rem;
}

.footer-logo {
    font-size: 3rem;
}

footer {
    height: 30rem;
}

/* .button-link {
    padding: 1.5rem 2.5rem;
    margin-top: 1rem;
    font-size: 0.9rem;
} */
}

